<a href="https://colab.research.google.com/github/theoem/Data-Linkage/blob/master/Data-Linkage/Record-Linking-Fuzzy-Matching-Teodoras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Tools for Record Linking and Fuzzy Matching

This notebook accompanies the [article](https://pbpython.com/record-linking.html) on Practical Business Python

This notebook relies on [fuzzymatcher](https://github.com/RobinL/fuzzymatcher) and the [Python Record Linkage Toolkit](https://recordlinkage.readthedocs.io/en/latest/about.html)

In [118]:
!pip install fuzzymatcher

Requirement already satisfied: fuzzymatcher in /usr/local/lib/python3.7/dist-packages (0.0.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (1.1.5)
Requirement already satisfied: python-Levenshtein in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (0.12.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (2.8.2)
Requirement already satisfied: metaphone in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (0.6)
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (0.18.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->fuzzymatcher) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->fuzzymatcher) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->fuzzymatcher) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein->fuzzymatcher) (57.4.0)

In [119]:
!pip install recordlinkage

Requirement already satisfied: recordlinkage in /usr/local/lib/python3.7/dist-packages (0.14)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.19.5)
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.4.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.1.5)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.1.0)
Requirement already satisfied: jellyfish>=0.5.4 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (0.8.9)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->recordlinkage) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.19.0->recordlinkage) (3.0.0)

In [120]:
import pandas as pd
from pathlib import Path
import fuzzymatcher
import recordlinkage

### Example using fuzzymatcher

In [121]:
acm_data = pd.read_csv(
    'https://raw.githubusercontent.com/PaoloMissier/CSC3831-2021-22/main/LINKAGE/DATASETS/ACM.csv'
)
dblp_data = pd.read_csv(
    'https://raw.githubusercontent.com/PaoloMissier/CSC3831-2021-22/main/LINKAGE/DATASETS/dblp.csv',
    encoding = 'latin_1' 
)

In [122]:
acm_data.head()

   Unnamed: 0      id  ...                                           venue  year
0           0  304586  ...  International Conference on Management of Data  1999
1           1  304587  ...  International Conference on Management of Data  1999
2           2  304589  ...  International Conference on Management of Data  1999
3           3  304590  ...  International Conference on Management of Data  1999
4           4  304582  ...  International Conference on Management of Data  1999

[5 rows x 6 columns]

In [123]:
dblp_data.head()

   Unnamed: 0                        id  ...          venue  year
0           0  journals/sigmod/Mackay99  ...  SIGMOD Record  1999
1           1      conf/vldb/PoosalaI96  ...           VLDB  1996
2           2   conf/vldb/PalpanasSCP02  ...           VLDB  2002
3           3    conf/vldb/GardarinGT96  ...           VLDB  1996
4           4         conf/vldb/HoelS95  ...           VLDB  1995

[5 rows x 6 columns]

In [124]:
acm_data[acm_data.isnull().any(axis=1)]

      Unnamed: 0  ...  year
884          884  ...  2000
1146        1146  ...  1996
2128        2128  ...  2003
2129        2129  ...  2003
2130        2130  ...  2003
2131        2131  ...  2003
2132        2132  ...  2003
2133        2133  ...  2003
2134        2134  ...  2003
2136        2136  ...  2000
2139        2139  ...  2000
2145        2145  ...  1995
2148        2148  ...  2001
2150        2150  ...  2001

[14 rows x 6 columns]

In [125]:
acm_data.dropna(subset=['authors'], inplace=True)
dblp_data.dropna(subset=['authors'], inplace=True)

In [126]:
## dataframe sizes

print("raw dataframe number of records :")
print("acm_data:  {x}".format(x=acm_data['id'].count()))
print("dblp_data:  {x}".format(x=dblp_data['id'].count()))

raw dataframe number of records :
acm_data:  2280
dblp_data:  2616

## focus on "authors"
## just pick authors starting with 'A' from both, sort and pick top 20 to visually compare

In [127]:

cond = acm_data['authors'].str.startswith('A')
print (acm_data)
acm_data.loc[cond].sort_values(by=['authors'], ascending=True)[['authors', 'title']].head(25)

      Unnamed: 0  ...  year
0              0  ...  1999
1              1  ...  1999
2              2  ...  1999
3              3  ...  1999
4              4  ...  1999
...          ...  ...   ...
2289        2289  ...  1994
2290        2290  ...  2003
2291        2291  ...  1994
2292        2292  ...  2003
2293        2293  ...  1994

[2280 rows x 6 columns]

                                                authors                                              title
1054  A. A. Diwan, Sanjeeva Rane, S. Seshadri, S. Su...  Clustering Techniques for Minimizing External ...
1741  A. Biliris, S. Dar, N. Gehani, H. V. Jagadish,...  ASSET: a system for supporting extended transa...
235   A. Biliris, T. A. Funkhouser, W. O'Connell, E....  BeSS: storage support for interactive visualiz...
1565  A. Dogac, C. Dengi, E. Kilic, G. Ozhan, F. Ozc...                 METU interoperable database system
218              A. Formica, H. D. Groger, M. Missikoff  An efficient method for checking object-orient...
1632  A. Kemper, G. Moerkotte, K. Peithner, M. Stein...  Optimizing disjunctive queries with expensive ...
118                              A. M. Ouksel, A. Sheth  Semantic interoperability in global informatio...
2186                A. Maedche, B. Motik, L. Stojanovic  Managing multiple and distributed ontologies o...
1529  A. P. Buchmann, A. Deutsch, J. Zimmermann, M. ...                            The REACH active OODBMS
1439  A. Prasad Sistla, Clement T. Yu, Chengwen Liu,...  Similarity based Retrieval of Pictures Using I...
2221         A. Prasad Sistla, Clement T. Yu, R. Haddad  Reasoning About Spatial Relationships in Pictu...
1511                     A. Prasad Sistla, Ouri Wolfson  Temporal conditions and integrity constraints ...
134   A. Prasad Sistla, Ouri Wolfson, Yelena Yesha, ...  Towards a theory of cost management for digita...
2155                                     A. R. Dasgupta         Large Databases for Remote Sensing and GIS
2113                     A. Sheth, S. Thacker, S. Patel  Complex relationships and knowledge discovery ...
1377                           Abdelsalam Helal, Hua Li  Rainbow: Distributed Database System for Class...
2078   Abhinandan Das, Johannes Gehrke, Mirek Riedewald      Approximate join processing over data streams
1081                       Achim Kraiss, Gerhard Weikum  Vertical Data Migration in Large Near-Line Doc...
1180                       Achim Kraiss, Gerhard Weikum  Integrated document caching and prefetching in...
1484              Ada Wai-Chee Fu, David Wai-Lok Cheung  A Transaction Replication Scheme for a Replica...
1275  Ada Wai-chee Fu, Polly Mei-shuen Chan, Yin-Lin...  Dynamic vp-tree indexing for n-nearest neighbo...
2141                                          Adam Blum  Microsoft English Query 7.5: Automatic Extract...
1610       Ahmed Elmagarmid, Jin Jing, Tetsuya Furukawa  Wireless client/server computing for personal ...
1743  Aidong Zhang, Marian Nodine, Bharat Bhargava, ...  Ensuring relaxed atomicity for flexible transa...
1773                                  Akmal B. Chaudhri  Workshop report on experiences using object da...

In [128]:
cond = dblp_data['authors'].str.startswith('A')
dblp_data.loc[cond].sort_values(by=['authors'], ascending=True)[['authors', 'title']].head(25)

                                                authors                                              title
207   A. A. Diwan, S. Sudarshan, Sanjeeva Rane, S. S...  Clustering Techniques for Minimizing External ...
1279                      A. Kumaran, Jayant R. Haritsa  On the Costs of Multilingualism in Database Sy...
433   A. Prasad Sistla, Isabel F. Cruz, Ashfaq A. Kh...  Research Activities in Database Management and...
1587        A. Prasad Sistla, Ouri Wolfson, Yixiu Huang              Data Replication for Mobile Computers
1128  A. Prasad Sistla, Robert H. Sloan, Yelena Yesh...  Towards a Theory of Cost Management for Digita...
1642                                     A. R. Dasgupta         Large Databases for Remote Sensing and GIS
703         A. R. Hurson, Simin H. Pakzad, M. W. Bright  Automated Resolution of Semantic Heterogeneity...
2057                   Aashu Virmani, Tomasz Imielinski       DataMine - Interactive Rule Discovery System
396                            Abdelsalam Helal, Hua Li  Rainbow: Distributed Database System for Class...
2033  Abraham Silberschatz, Christos Faloutsos, Yoss...  Modeling Skewed Distribution Using Multifracta...
1730  Abraham Silberschatz, Rajeev Rastogi, Banu Ãz...  Fault-tolerant Architectures for Continuous Me...
909             Abraham Silberschatz, Stanley B. Zdonik         Database Systems - Breaking Out of the Box
2164  Abraham Silberschatz, Sumit Ganguly, Yossi Mat...  Bifocal Sampling for Skew-Resistant Join Size ...
1197                       Achim Kraiss, Gerhard Weikum  Vertical Data Migration in Large Near-Line Doc...
518                        Achim Kraiss, Gerhard Weikum  Integrated Document Caching and Prefetching in...
764                    Ada Wai-Chee Fu, King Lum Cheung    Enhanced Nearest Neighbour Search on the R-tree
2313       Ada Wai-Chee Fu, Man Hon Wong, Chan Man Kuok        Mining Fuzzy Association Rules in Databases
1623  Ada Wai-Chee Fu, Yin-Ling Cheung, Yiu Sang Moo...  Dynamic vp-Tree Indexing for n-Nearest Neighbo...
725                                           Adam Blum  Microsoft English Query 7.5: Automatic Extract...
1966                                      Adam Bosworth                     The Future of Web Services - I
547   Agathoniki Trigoni, Rajmohan Rajaraman, Alan J...      The Cougar Project: a work-in-progress report
999   Ahmed K. Elmagarmid, Athman Bouguettaya, Moura...      Ontology-based Support for Digital Government
790                   Ahmed K. Elmagarmid, Haitao Jiang  Spatial and Temporal Content-Based Access to H...
1791     Aiqun Du, James P. Callan, Margaret E. Connell  Automatic Discovery of Language Models for Tex...
2160                                  Akmal B. Chaudhri  An Annotated Bibliography of Benchmarks for Ob...

## Try using the fuzzymatcher

In [129]:
dblp_data.columns

Index(['Unnamed: 0', 'id', 'title', 'authors', 'venue', 'year'], dtype='object')

In [130]:
# Columns to match on from df_left
left_on = ['title', 'authors', 'venue', 'year']

# Columns to match on from df_right
right_on = ['title', 'authors', 'venue', 'year']

In [131]:
## try link_table first
linked = fuzzymatcher.link_table(acm_data,
                                 dblp_data,
                                 left_on,
                                 right_on,
                                 left_id_col='id',
                                 right_id_col='id')

In [132]:
linked.head()

   __id_left                   __id_right  ...  year_left  year_right
0     304586        conf/sigmod/VossenW99  ...       1999        1999
1     304587          conf/sigmod/CruzJ99  ...       1999        1999
2     304589  conf/sigmod/BouguettayaBH99  ...       1999        1999
3     304590     conf/sigmod/BaruGLMPVC99  ...       1999        1999
4     304582     conf/sigmod/BrodskySCE99  ...       1999        1999

[5 rows x 12 columns]

In [133]:
# Now perform the match
# It will take several minutes to run on this data set
matched_results = fuzzymatcher.fuzzy_left_join(acm_data,
                                               dblp_data,
                                               left_on,
                                               right_on,
                                               left_id_col='id',
                                               right_id_col='id')

In [134]:
matched_results[["authors_left", "authors_right"]].head()

                                        authors_left                                      authors_right
0                    Gottfried Vossen, Mathias Weske                    Mathias Weske, Gottfried Vossen
1                  Isabel F. Cruz, Kimberly M. James                  Kimberly M. James, Isabel F. Cruz
2  Athman Bouguettaya, Boualem Benatallah, Lily H...  Kevin Smith, Athman Bouguettaya, Mourad Ouzzan...
3  Chaitan Baru, Amarnath Gupta, Bertram Lud&#228...  Yannis Papakonstantinou, Richard Marciano, Cha...
4  Alexander Brodsky, Victor E. Segal, Jia Chen, ...  Alexander Brodsky, Pavel A. Exarkhopoulo, Vict...

In [135]:
# Reorder the columns to make viewing easier
cols = [
    "best_match_score", "title_left",	"title_right", "authors_left", 
    "authors_right", "venue_left",	"venue_right", "year_left", "year_right"
]

In [136]:
# Let's see the best matches
matched_results[cols].sort_values(by=['best_match_score'], ascending=False).head(5)

       best_match_score  ... year_right
28967          9.659069  ...       1994
28303          9.585563  ...       1994
24966          9.299051  ...       2001
34421          9.249386  ...       2003
28253          8.833561  ...       1994

[5 rows x 9 columns]

In [137]:
# Now the worst matches
matched_results[cols].sort_values(by=['best_match_score'],
                                  ascending=True).head(5)

       best_match_score  ... year_right
19445         -1.970883  ...       2001
5636          -1.279158  ...       2000
33892         -1.272599  ...       1998
5427          -1.258685  ...       1998
15397         -1.204926  ...       1994

[5 rows x 9 columns]

In [138]:
# Look at the matches around 1
matched_results[cols].query("best_match_score <= 1").sort_values(
    by=['best_match_score'], ascending=False).head(10)

       best_match_score  ... year_right
2287           0.996159  ...       1995
3443           0.995429  ...       1996
25138          0.987667  ...       1995
24974          0.986689  ...       1994
37745          0.978702  ...       2003
36663          0.973786  ...       2001
18267          0.973031  ...       2002
4479           0.970899  ...       2001
30140          0.957410  ...       1997
27014          0.955514  ...       1995

[10 rows x 9 columns]

In [139]:
matched_results[cols].query("best_match_score <= .80").sort_values(
    by=['best_match_score'], ascending=False).head(5)

       best_match_score  ... year_right
39340          0.789043  ...       1994
3764           0.777607  ...       2002
35427          0.776419  ...       2003
671            0.776227  ...       1999
684            0.775944  ...       1999

[5 rows x 9 columns]

### Example using Python Record Linkage Toolkit

In [140]:
acm_data = pd.read_csv(
    'https://raw.githubusercontent.com/PaoloMissier/CSC3831-2021-22/main/LINKAGE/DATASETS/ACM.csv'
)
dblp_data = pd.read_csv(
    'https://raw.githubusercontent.com/PaoloMissier/CSC3831-2021-22/main/LINKAGE/DATASETS/dblp.csv',
    encoding = 'latin_1' 
)

In [141]:
acm_data.head()

   Unnamed: 0      id  ...                                           venue  year
0           0  304586  ...  International Conference on Management of Data  1999
1           1  304587  ...  International Conference on Management of Data  1999
2           2  304589  ...  International Conference on Management of Data  1999
3           3  304590  ...  International Conference on Management of Data  1999
4           4  304582  ...  International Conference on Management of Data  1999

[5 rows x 6 columns]

In [142]:
dblp_data.head()

   Unnamed: 0                        id  ...          venue  year
0           0  journals/sigmod/Mackay99  ...  SIGMOD Record  1999
1           1      conf/vldb/PoosalaI96  ...           VLDB  1996
2           2   conf/vldb/PalpanasSCP02  ...           VLDB  2002
3           3    conf/vldb/GardarinGT96  ...           VLDB  1996
4           4         conf/vldb/HoelS95  ...           VLDB  1995

[5 rows x 6 columns]

In [143]:
# Build the indexer
indexer = recordlinkage.Index()
# Can use full or block
#indexer.full()
#indexer.block(left_on='State', right_on='Provider State')

# Use sortedneighbor as a good option if data is not clean
indexer.sortedneighbourhood(left_on='year', right_on='year')

In [144]:
candidates = indexer.index(acm_data, dblp_data)

In [145]:
# Let's see how many matches we want to do
print(len(candidates))

1680430

In [146]:
print(acm_data.columns)
print(dblp_data.columns)

Index(['Unnamed: 0', 'id', 'title', 'authors', 'venue', 'year'], dtype='object')
Index(['Unnamed: 0', 'id', 'title', 'authors', 'venue', 'year'], dtype='object')

In [147]:
# Takes 3 minutes using the full index.
# 14s using sorted neighbor
# 7s using blocking
compare = recordlinkage.Compare()
compare.exact('year', 'year', label='year')
compare.string('authors',
               'authors',
               threshold=0.85,
               label='authors')
compare.string('title',
               'title',
               method='jarowinkler',
               threshold=0.85,
               label='title')
compare.string('venue',
               'venue',
               method='jarowinkler',
               threshold=0.85,
               label='venue')
features = compare.compute(candidates, acm_data,
                           dblp_data)

In [148]:
features.describe()

               year       authors         title      venue
count  1.680430e+06  1.680430e+06  1.680430e+06  1680430.0
mean   3.578156e-01  7.224341e-04  1.475218e-03        0.0
std    4.793576e-01  2.686843e-02  3.838023e-02        0.0
min    0.000000e+00  0.000000e+00  0.000000e+00        0.0
25%    0.000000e+00  0.000000e+00  0.000000e+00        0.0
50%    0.000000e+00  0.000000e+00  0.000000e+00        0.0
75%    1.000000e+00  0.000000e+00  0.000000e+00        0.0
max    1.000000e+00  1.000000e+00  1.000000e+00        0.0

In [149]:
# What are the score totals?
features.sum(axis=1).value_counts().sort_index(ascending=False)

3.0        706
2.0       1781
1.0     599297
0.0    1078646
dtype: int64

In [150]:
# Get the potential matches
potential_matches = features[features.sum(axis=1) > 1].reset_index()

In [152]:
potential_matches['Score'] = potential_matches.loc[:, 'authors':'authors'].sum(axis=1)
potential_matches.head()

   level_0  level_1  year  authors  title  venue  Score
0      226      907     0      1.0    1.0    0.0    1.0
1      334      907     0      1.0    1.0    0.0    1.0
2      598      386     0      1.0    1.0    0.0    1.0
3      598      705     0      1.0    1.0    0.0    1.0
4      598      942     0      1.0    1.0    0.0    1.0

In [154]:
acm_data.loc[226,:]

Unnamed: 0                                    226
id                                         290599
title         Reminiscences on influential papers
authors                         Richard Snodgrass
venue                          ACM SIGMOD Record
year                                         1998
Name: 226, dtype: object

In [155]:
dblp_data.loc[907,:]

Unnamed: 0                                    907
id                   journals/sigmod/Snodgrass99b
title         Reminiscences on Influential Papers
authors                      Richard T. Snodgrass
venue                               SIGMOD Record
year                                         1999
Name: 907, dtype: object

In [ ]:
# Add some convenience columns for comparing data
hospital_accounts['Acct_Name_Lookup'] = hospital_accounts[[
    'Facility Name', 'Address', 'City', 'State'
]].apply(lambda x: '_'.join(x), axis=1)

In [ ]:
hospital_reimbursement['Reimbursement_Name_Lookup'] = hospital_reimbursement[[
    'Provider Name', 'Provider Street Address', 'Provider City',
    'Provider State'
]].apply(lambda x: '_'.join(x), axis=1)

In [ ]:
reimbursement_lookup = hospital_reimbursement[['Reimbursement_Name_Lookup']].reset_index()
account_lookup = hospital_accounts[['Acct_Name_Lookup']].reset_index()

In [ ]:
account_lookup.head()

In [ ]:
reimbursement_lookup.head()

In [ ]:
account_merge = potential_matches.merge(account_lookup, how='left')

In [ ]:
account_merge.head()

In [ ]:
reimbursement_lookup.head()

In [ ]:
# Let's build a dataframe to  compare
final_merge = account_merge.merge(reimbursement_lookup, how='left')

In [ ]:
cols = [
    'Account_Num', 'Provider_Num', 'Score', 'Acct_Name_Lookup',
    'Reimbursement_Name_Lookup'
]

In [ ]:
final_merge[cols].sort_values(by=['Account_Num', 'Score'], ascending=False)

In [ ]:
# If you need to save it to Excel -
#final_merge.sort_values(by=['Account_Num', 'Score'],
#                        ascending=False).to_excel('merge_list.xlsx',
#                                                  index=False)

In [ ]:
final_merge[final_merge['Account_Num']==11035][cols]

In [ ]:
final_merge[final_merge['Account_Num']==56375][cols]

### Dedupe the data

In [ ]:
hospital_dupes = pd.read_csv(
    'https://github.com/chris1610/pbpython/raw/master/data/hospital_account_dupes.csv',
    index_col='Account_Num')

In [ ]:
hospital_dupes.head()

In [ ]:
# Deduping follows the same process, you just use 1 single dataframe
dupe_indexer = recordlinkage.Index()
dupe_indexer.sortedneighbourhood(left_on='State')
dupe_candidate_links = dupe_indexer.index(hospital_dupes)

In [ ]:
# Comparison step
compare_dupes = recordlinkage.Compare()
compare_dupes.string('City', 'City', threshold=0.85, label='City')
compare_dupes.string('Phone Number',
                     'Phone Number',
                     threshold=0.85,
                     label='Phone_Num')
compare_dupes.string('Facility Name',
                     'Facility Name',
                     threshold=0.80,
                     label='Hosp_Name')
compare_dupes.string('Address',
                     'Address',
                     threshold=0.85,
                     label='Hosp_Address')
dupe_features = compare_dupes.compute(dupe_candidate_links, hospital_dupes)

In [ ]:
dupe_features

In [ ]:
dupe_features.sum(axis=1).value_counts().sort_index(ascending=False)

In [ ]:
potential_dupes = dupe_features[dupe_features.sum(axis=1) > 2].reset_index()
potential_dupes['Score'] = potential_dupes.loc[:, 'City':'Hosp_Address'].sum(axis=1)

In [ ]:
potential_dupes.sort_values(by=['Score'], ascending=True)

In [ ]:
# Take a look at one of the potential duplicates
hospital_dupes[hospital_dupes.index.isin([51567, 41166])]