## Python Tools for Record Linking and Fuzzy Matching

This notebook accompanies the [article](https://pbpython.com/record-linking.html) on Practical Business Python

This notebook relies on [fuzzymatcher](https://github.com/RobinL/fuzzymatcher) and the [Python Record Linkage Toolkit](https://recordlinkage.readthedocs.io/en/latest/about.html)

In [1]:
!pip install fuzzymatcher

Collecting fuzzymatcher
  Downloading fuzzymatcher-0.0.5-py3-none-any.whl (15 kB)
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Collecting metaphone
  Downloading Metaphone-0.6.tar.gz (14 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (2.8.2)
Collecting python-Levenshtein
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |████████████████████████████████| 50 kB 5.9 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->fuzzymatcher) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->fuzzymatcher) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->fuzzymatcher) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein->fuzzymatcher) (57.4.0)
Building wheels for collected packages: metaphone, python-Levenshtein
  Building wheel for metaphone (setup.py) ... done
  Created wheel for metaphone: filename=Metaphone-0.6-py3-none-any.whl size=13919 sha256=1efcc3e7acef2f801b9c844a2b52559368750b4c4e50b8fd21584c1a516072b0
  Stored in directory: /root/.cache/pip/wheels/1d/a8/cb/6f8902aa5457bd71344e00665c230e9c45255b3f57f2194a0f
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149873 sha256=6352c73c2cf48e564e058ad828f0e36d2d0cec763738a9975276526c33ef430c
  Stored in directory: /root/.cache/pip/wheels/05/5f/ca/7c4367734892581bb5ff896f15027a932c551080b2abd3e00d
Successfully built metaphone python-Levenshtein
Installing collected packages: python-Levenshtein, metaphone, fuzzywuzzy, fuzzymatcher
Successfully installed fuzzymatcher-0.0.5 fuzzywuzzy-0.18.0 metaphone-0.6 python-Levenshtein-0.12.2

In [ ]:
!pip install recordlinkage

Collecting recordlinkage
  Downloading recordlinkage-0.14-py3-none-any.whl (944 kB)
     |████████████████████████████████| 944 kB 7.7 MB/s
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.1.5)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (0.22.2.post1)
Collecting jellyfish>=0.5.4
  Downloading jellyfish-0.8.8.tar.gz (134 kB)
     |████████████████████████████████| 134 kB 74.7 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.0.1)
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.4.1)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->recordlinkage) (1.15.0)
Building wheels for collected packages: jellyfish
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.8.8-cp37-cp37m-linux_x86_64.whl size=73209 sha256=e04ced78ae09ac104c03b6677a212b96951a8bc7b1b308aedd5f5603c3f2b6dd
  Stored in directory: /root/.cache/pip/wheels/82/aa/f4/716387e1f167cbbf911488aa056138152f4d8699c9c9b43ea8
Successfully built jellyfish
Installing collected packages: jellyfish, recordlinkage
Successfully installed jellyfish-0.8.8 recordlinkage-0.14

In [ ]:
import pandas as pd
from pathlib import Path
import fuzzymatcher
import recordlinkage

### Example using fuzzymatcher

In [ ]:
hospital_accounts = pd.read_csv(
    'https://github.com/chris1610/pbpython/raw/master/data/hospital_account_info.csv'
)
hospital_reimbursement = pd.read_csv(
    'https://raw.githubusercontent.com/chris1610/pbpython/master/data/hospital_reimbursement.csv'
)

In [ ]:
hospital_accounts.head()

   Account_Num  ...              Hospital Ownership
0        10605  ...  Voluntary non-profit - Private
1        24250  ...                     Proprietary
2        10341  ...  Voluntary non-profit - Private
3        81101  ...                     Proprietary
4        39835  ...                     Proprietary

[5 rows x 10 columns]

In [ ]:
hospital_reimbursement.head()

   Provider_Num  ... Average Medicare Payments
0        839987  ...                   4115.52
1        519118  ...                   4490.93
2        733073  ...                   4021.79
3        201752  ...                   4284.17
4        678488  ...                   4819.53

[5 rows x 10 columns]

In [ ]:
## dataframe sizes

print("raw dataframe number of records:")
print("hospital_accounts:  {x}".format(x=hospital_accounts['Account_Num'].count()))
print("hospital_reimbursement:  {x}".format(x=hospital_reimbursement['Provider_Num'].count()))

raw dataframe number of records:
hospital_accounts:  5339
hospital_reimbursement:  2697

## focus on "Facility Name" and "Provider Name"
## just pick providers starting with 'A' from both, sort and pick top 20 to visually compare

In [ ]:

cond = hospital_accounts['Facility Name'].str.startswith('AD')
hospital_accounts.loc[cond].sort_values(by=['Facility Name'], ascending=True)[['Facility Name', 'Address']].head(25)

                                      Facility Name                                   Address
3282                          AD HOSPITAL EAST, LLC             12950 EAST FREEWAY, SUITE 100
736   ADAIR ACUTE CARE AT OSAWATOMIE STATE HOSPITAL                  500 STATE HOSPITAL DRIVE
2515                 ADAIR COUNTY MEMORIAL HOSPITAL                               609 SE KENT
3915           ADAMS COUNTY REGIONAL MEDICAL CENTER                  230 MEDICAL CENTER DRIVE
280                         ADAMS MEMORIAL HOSPITAL                           1100 MERCER AVE
3017               ADCARE HOSPITAL OF WORCESTER INC                        107 LINCOLN STREET
2883                      ADENA PIKE MEDICAL CENTER                             100 DAWN LANE
4211                  ADENA REGIONAL MEDICAL CENTER                         272 HOSPITAL ROAD
4887       ADIRONDACK MEDICAL CENTER - SARANAC LAKE           2233 STATE ROUTE 86, PO BOX 471
4429         ADMIN DE SERVICIOS MEDICOS  PUERTO RIC                  BO MONACILLO CARR NUM 22
593                      ADVANCED SURGICAL HOSPITAL                           100 TRICH DRIVE
4147                       ADVENTHEALTH CARROLLWOOD                     7171 N DALE MABRY HWY
71                       ADVENTHEALTH CENTRAL TEXAS                   2201 S CLEAR CREEK ROAD
1362                         ADVENTHEALTH DADE CITY                          13100 FT KING RD
2751                     ADVENTHEALTH DAYTONA BEACH              301 MEMORIAL MEDICAL PARKWAY
5035                            ADVENTHEALTH DELAND                        701 W PLYMOUTH AVE
4963                            ADVENTHEALTH DURAND                            1220 3RD AVE W
1692                     ADVENTHEALTH FISH MEMORIAL                           1055 SAXON BLVD
2894                            ADVENTHEALTH GORDON                         1035 RED BUD ROAD
4536                  ADVENTHEALTH HEART OF FLORIDA                              40100 HWY 27
24                          ADVENTHEALTH LAKE WALES                             410 S 11TH ST
5135                        ADVENTHEALTH MANCHESTER                   210 MARIE LANGDON DRIVE
1763                            ADVENTHEALTH MURRAY  707 OLD DALTON ELLIJAY ROAD, PO BOX 1406
556                   ADVENTHEALTH NEW SMYRNA BEACH                           401 PALMETTO ST
865                     ADVENTHEALTH NORTH PINELLAS                       1395 S PINELLAS AVE

In [ ]:
cond = hospital_reimbursement['Provider Name'].str.startswith('AD')
hospital_reimbursement.sort_values(by=['Provider Name'], ascending=True)[['Provider Name','Provider Street Address', 'Provider City']].head(25)

                                          Provider Name  ...     Provider City
1051                         ABBEVILLE GENERAL HOSPITAL  ...         ABBEVILLE
1306                       ABBOTT NORTHWESTERN HOSPITAL  ...       MINNEAPOLIS
2376                    ABILENE REGIONAL MEDICAL CENTER  ...           ABILENE
2109                         ABINGTON MEMORIAL HOSPITAL  ...          ABINGTON
99                              ABRAZO ARROWHEAD CAMPUS  ...          GLENDALE
91                             ABRAZO SCOTTSDALE CAMPUS  ...           PHOENIX
103                                  ABRAZO WEST CAMPUS  ...          GOODYEAR
1056                            ACADIA GENERAL HOSPITAL  ...           CROWLEY
2080                                      ACMH HOSPITAL  ...        KITTANNING
1883                      ADENA REGIONAL MEDICAL CENTER  ...       CHILLICOTHE
1613                          ADIRONDACK MEDICAL CENTER  ...      SARANAC LAKE
841                      ADVENTIST BOLINGBROOK HOSPITAL  ...       BOLINGBROOK
840                                  ADVENTIST GLENOAKS  ...  GLENDALE HEIGHTS
1150    ADVENTIST HEALTHCARE SHADY GROVE MEDICAL CENTER  ...         ROCKVILLE
1124  ADVENTIST HEALTHCARE WASHINGTON ADVENTIST HOSP...  ...       TAKOMA PARK
774                         ADVENTIST HINSDALE HOSPITAL  ...          HINSDALE
752               ADVENTIST LA GRANGE MEMORIAL HOSPITAL  ...         LA GRANGE
204                            ADVENTIST MEDICAL CENTER  ...           HANFORD
1985                           ADVENTIST MEDICAL CENTER  ...          PORTLAND
777                     ADVOCATE BROMENN MEDICAL CENTER  ...            NORMAL
812           ADVOCATE CHRIST HOSPITAL & MEDICAL CENTER  ...          OAK LAWN
810                     ADVOCATE CONDELL MEDICAL CENTER  ...      LIBERTYVILLE
836                    ADVOCATE GOOD SAMARITAN HOSPITAL  ...     DOWNERS GROVE
839                     ADVOCATE GOOD SHEPHERD HOSPITAL  ...        BARRINGTON
802            ADVOCATE ILLINOIS MASONIC MEDICAL CENTER  ...           CHICAGO

[25 rows x 3 columns]

## try first a straight left outer join on the name

## see https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:

merged = hospital_accounts.merge(hospital_reimbursement, left_on = 'Facility Name', right_on='Provider Name',  how='left')

## show the records where on the left we have the AD hospitals
cond = merged['Facility Name'].str.startswith('AD')
merged[cond][['Facility Name', 'Provider Name']].sort_values(by='Facility Name').head(20)

                                      Facility Name                  Provider Name
3519                          AD HOSPITAL EAST, LLC                            NaN
784   ADAIR ACUTE CARE AT OSAWATOMIE STATE HOSPITAL                            NaN
2704                 ADAIR COUNTY MEMORIAL HOSPITAL                            NaN
4213           ADAMS COUNTY REGIONAL MEDICAL CENTER                            NaN
307                         ADAMS MEMORIAL HOSPITAL                            NaN
3246               ADCARE HOSPITAL OF WORCESTER INC                            NaN
3102                      ADENA PIKE MEDICAL CENTER                            NaN
4527                  ADENA REGIONAL MEDICAL CENTER  ADENA REGIONAL MEDICAL CENTER
5245       ADIRONDACK MEDICAL CENTER - SARANAC LAKE                            NaN
4764         ADMIN DE SERVICIOS MEDICOS  PUERTO RIC                            NaN
639                      ADVANCED SURGICAL HOSPITAL                            NaN
4463                       ADVENTHEALTH CARROLLWOOD                            NaN
79                       ADVENTHEALTH CENTRAL TEXAS                            NaN
1434                         ADVENTHEALTH DADE CITY                            NaN
2966                     ADVENTHEALTH DAYTONA BEACH                            NaN
5413                            ADVENTHEALTH DELAND                            NaN
5324                            ADVENTHEALTH DURAND                            NaN
1776                     ADVENTHEALTH FISH MEMORIAL                            NaN
3113                            ADVENTHEALTH GORDON                            NaN
4873                  ADVENTHEALTH HEART OF FLORIDA                            NaN

In [ ]:
## how many have we matched?
merged[merged['Provider Name'].notnull()]['Provider Name'].count()

2739

## how about a full outer join?

In [ ]:
merged = hospital_accounts.merge(hospital_reimbursement, left_on = 'Facility Name', right_on='Provider Name',  how='outer')

## show the records where on the left we have the AD hospitals
cond1 = (merged['Facility Name'].notnull()) 
cond2 = (merged['Facility Name'].str.startswith('AD'))
merged[cond1 & cond2][['Facility Name', 'Provider Name']].sort_values(by='Facility Name').head(20)

                                      Facility Name                  Provider Name
3757                          AD HOSPITAL EAST, LLC                            NaN
1029  ADAIR ACUTE CARE AT OSAWATOMIE STATE HOSPITAL                            NaN
2971                 ADAIR COUNTY MEMORIAL HOSPITAL                            NaN
4367           ADAMS COUNTY REGIONAL MEDICAL CENTER                            NaN
438                         ADAMS MEMORIAL HOSPITAL                            NaN
3500               ADCARE HOSPITAL OF WORCESTER INC                            NaN
3370                      ADENA PIKE MEDICAL CENTER                            NaN
4652                  ADENA REGIONAL MEDICAL CENTER  ADENA REGIONAL MEDICAL CENTER
5301       ADIRONDACK MEDICAL CENTER - SARANAC LAKE                            NaN
4862         ADMIN DE SERVICIOS MEDICOS  PUERTO RIC                            NaN
877                      ADVANCED SURGICAL HOSPITAL                            NaN
4589                       ADVENTHEALTH CARROLLWOOD                            NaN
123                      ADVENTHEALTH CENTRAL TEXAS                            NaN
1688                         ADVENTHEALTH DADE CITY                            NaN
3234                     ADVENTHEALTH DAYTONA BEACH                            NaN
5443                            ADVENTHEALTH DELAND                            NaN
5375                            ADVENTHEALTH DURAND                            NaN
2050                     ADVENTHEALTH FISH MEMORIAL                            NaN
3381                            ADVENTHEALTH GORDON                            NaN
4966                  ADVENTHEALTH HEART OF FLORIDA                            NaN

## now try using the fuzzymatcher

In [ ]:
# Columns to match on from df_left
left_on = ["Facility Name", "Address", "City", "State"]

# Columns to match on from df_right
right_on = [
    "Provider Name", "Provider Street Address", "Provider City",
    "Provider State"
]

In [ ]:
## try link_table first
linked = fuzzymatcher.link_table(hospital_accounts,
                                               hospital_reimbursement,
                                               left_on,
                                               right_on,
                                               left_id_col='Account_Num',
                                               right_id_col='Provider_Num')

In [ ]:
linked.head()

   __id_left  __id_right  match_score  ...  Provider City State Provider State
0      10605      643595    -0.746613  ...    TUNKHANNOCK    AZ             PA
1      10605      766793    -0.820139  ...      MARYVILLE    AZ             IL
2      10605      572806    -0.853538  ...     CINCINNATI    AZ             OH
3      10605      489749    -0.877983  ...       MONTROSE    AZ             CO
4      10605      264631    -0.890167  ...     WELLSVILLE    AZ             NY

[5 rows x 12 columns]

In [ ]:
linked[linked['Facility Name'].str.contains('GORDON')].sort_values(by='match_score', ascending=False)

        __id_left  __id_right  match_score  ...  Provider City State Provider State
310852      24125      515652     0.986440  ...        CALHOUN    GA             GA
310192      24261      693188    -0.254650  ...       ANNISTON    NE             AL
310193      24261      421579    -0.573855  ...       COLUMBUS    NE             NE
310194      24261      340833    -0.615630  ...     MARYSVILLE    NE             CA
310195      24261      522917    -0.654419  ...    BAKERSFIELD    NE             CA
...           ...         ...          ...  ...            ...   ...            ...
310403      24261      875973    -1.751271  ...      RED BLUFF    NE             CA
310404      24261      236029    -1.803042  ...      VANCOUVER    NE             WA
310405      24261      683090    -1.820631  ...        ASHLAND    NE             AL
310406      24261      198667    -1.922763  ...    ALBUQUERQUE    NE             NM
310407      24261      610170    -1.981611  ...         CHINLE    NE             AZ

[217 rows x 12 columns]

In [ ]:
# Now perform the match
# It will take several minutes to run on this data set
matched_results = fuzzymatcher.fuzzy_left_join(hospital_accounts,
                                               hospital_reimbursement,
                                               left_on,
                                               right_on,
                                               left_id_col='Account_Num',
                                               right_id_col='Provider_Num')

In [ ]:
matched_results[["Facility Name", "Provider Name"]].head()

                         Facility Name                      Provider Name
0               SAGE MEMORIAL HOSPITAL            TYLER MEMORIAL HOSPITAL
234        WOODRIDGE BEHAVIORAL CENTER            CRISP REGIONAL HOSPITAL
446           DOUGLAS GARDENS HOSPITAL          JACKSON MEMORIAL HOSPITAL
675  SUNCOAST BEHAVIORAL HEALTH CENTER               BLAKE MEDICAL CENTER
893           TREASURE VALLEY HOSPITAL  ST LUKE'S REGIONAL MEDICAL CENTER

In [ ]:
# Reorder the columns to make viewing easier
cols = [
    "best_match_score", "Facility Name", "Provider Name", "Address", "Provider Street Address",
    "Provider City", "City", "Provider State", "State"
]

In [ ]:
# Let's see the best matches
matched_results[cols].sort_values(by=['best_match_score'], ascending=False).head(5)

        best_match_score  ... State
78203           3.090931  ...    NJ
533105          2.799072  ...    NJ
78792           2.785132  ...    SD
242456          2.778860  ...    NY
447445          2.721425  ...    MN

[5 rows x 9 columns]

In [ ]:
# Now the worst matches
matched_results[cols].sort_values(by=['best_match_score'],
                                  ascending=True).head(5)

        best_match_score  ... State
426457         -2.268231  ...    PR
83295          -2.124071  ...    PR
42748          -2.106746  ...    PR
450408         -2.050888  ...    PR
476348         -1.996508  ...    PR

[5 rows x 9 columns]

In [ ]:
# Look at the matches around 1
matched_results[cols].query("best_match_score <= 1").sort_values(
    by=['best_match_score'], ascending=False).head(10)

        best_match_score             Facility Name  ... Provider State State
414121          0.999843     PRISMA HEALTH BAPTIST  ...             SC    SC
148823          0.999724           CHRIST HOSPITAL  ...             OH    OH
388137          0.997759   RUSSELL COUNTY HOSPITAL  ...             VA    VA
377833          0.993306  SKY RIDGE MEDICAL CENTER  ...             CO    CO
303218          0.991168         HIGHLAND HOSPITAL  ...             NY    NY
538710          0.990481            PAOLI HOSPITAL  ...             PA    PA
251271          0.986695     NYU WINTHROP HOSPITAL  ...             NY    NY
310637          0.986440       ADVENTHEALTH GORDON  ...             GA    GA
203875          0.985763   MEMORIAL MEDICAL CENTER  ...             IL    IL
102322          0.984978   HENDRICK MEDICAL CENTER  ...             TX    TX

[10 rows x 9 columns]

In [ ]:
matched_results[cols].query("best_match_score <= .80").sort_values(
    by=['best_match_score'], ascending=False).head(5)

        best_match_score                  Facility Name  ... Provider State State
518463          0.792471       METHODIST HOSPITAL SOUTH  ...             TX    TX
417195          0.791668  ADVENTIST HEALTH UKIAH VALLEY  ...             CA    CA
302972          0.787163                 MADISON HEALTH  ...             OH    OH
388467          0.776632      PENN HIGHLANDS CLEARFIELD  ...             PA    PA
493180          0.775573  MEMORIAL HOSPITAL AT GULFPORT  ...             MS    MS

[5 rows x 9 columns]

### Example using Python Record Linkage Toolkit

In [ ]:
# Re-read in the data using the index_col
hospital_accounts = pd.read_csv(
    'https://github.com/chris1610/pbpython/raw/master/data/hospital_account_info.csv',
    index_col='Account_Num'
)
hospital_reimbursement = pd.read_csv(
    'https://raw.githubusercontent.com/chris1610/pbpython/master/data/hospital_reimbursement.csv',
    index_col='Provider_Num'
)

In [ ]:
hospital_accounts.head()

                                 Facility Name  ...              Hospital Ownership
Account_Num                                     ...
10605                   SAGE MEMORIAL HOSPITAL  ...  Voluntary non-profit - Private
24250              WOODRIDGE BEHAVIORAL CENTER  ...                     Proprietary
10341                 DOUGLAS GARDENS HOSPITAL  ...  Voluntary non-profit - Private
81101        SUNCOAST BEHAVIORAL HEALTH CENTER  ...                     Proprietary
39835                 TREASURE VALLEY HOSPITAL  ...                     Proprietary

[5 rows x 9 columns]

In [ ]:
hospital_reimbursement.head()

                                 Provider Name  ... Average Medicare Payments
Provider_Num                                    ...
839987        SOUTHEAST ALABAMA MEDICAL CENTER  ...                   4115.52
519118           MARSHALL MEDICAL CENTER SOUTH  ...                   4490.93
733073          ELIZA COFFEE MEMORIAL HOSPITAL  ...                   4021.79
201752                MIZELL MEMORIAL HOSPITAL  ...                   4284.17
678488                       ST VINCENT'S EAST  ...                   4819.53

[5 rows x 9 columns]

In [ ]:
# Build the indexer
indexer = recordlinkage.Index()
# Can use full or block
#indexer.full()
#indexer.block(left_on='State', right_on='Provider State')

# Use sortedneighbor as a good option if data is not clean
indexer.sortedneighbourhood(left_on='State', right_on='Provider State')

In [ ]:
candidates = indexer.index(hospital_accounts, hospital_reimbursement)

In [ ]:
# Let's see how many matches we want to do
print(len(candidates))

998860

In [ ]:
# Takes 3 minutes using the full index.
# 14s using sorted neighbor
# 7s using blocking
compare = recordlinkage.Compare()
compare.exact('City', 'Provider City', label='City')
compare.string('Facility Name',
               'Provider Name',
               threshold=0.85,
               label='Hosp_Name')
compare.string('Address',
               'Provider Street Address',
               method='jarowinkler',
               threshold=0.85,
               label='Hosp_Address')
features = compare.compute(candidates, hospital_accounts,
                           hospital_reimbursement)

In [ ]:
features.describe()

                City      Hosp_Name   Hosp_Address
count  998860.000000  998860.000000  998860.000000
mean        0.009378       0.002626       0.003708
std         0.096383       0.051177       0.060782
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000

In [ ]:
# What are the score totals?
features.sum(axis=1).value_counts().sort_index(ascending=False)

3.0      2285
2.0       451
1.0      7937
0.0    988187
dtype: int64

In [ ]:
# Get the potential matches
potential_matches = features[features.sum(axis=1) > 1].reset_index()

In [ ]:
potential_matches['Score'] = potential_matches.loc[:, 'City':'Hosp_Address'].sum(axis=1)
potential_matches.head()

   Account_Num  Provider_Num  City  Hosp_Name  Hosp_Address  Score
0        51216        268781     0        1.0           1.0    2.0
1        55272        556917     1        1.0           1.0    3.0
2        87807        854637     1        1.0           1.0    3.0
3        51151        783146     1        0.0           1.0    2.0
4        11740        260374     1        1.0           1.0    3.0

In [ ]:
hospital_accounts.loc[51216,:]

Facility Name             ST FRANCIS MEDICAL CENTER
Address                       2400 ST FRANCIS DRIVE
City                                   BRECKENRIDGE
State                                            MN
ZIP Code                                      56520
County Name                                  WILKIN
Phone Number                         (218) 643-3000
Hospital Type             Critical Access Hospitals
Hospital Ownership    Voluntary non-profit - Church
Name: 51216, dtype: object

In [ ]:
hospital_reimbursement.loc[268781,:]

Provider Name                SAINT FRANCIS MEDICAL CENTER
Provider Street Address                 211 ST FRANCIS DR
Provider City                              CAPE GIRARDEAU
Provider State                                         MO
Provider Zip Code                                   63703
Total Discharges                                      141
Average Covered Charges                           42515.1
Average Total Payments                            5902.24
Average Medicare Payments                         4993.43
Name: 268781, dtype: object

In [ ]:
# Add some convenience columns for comparing data
hospital_accounts['Acct_Name_Lookup'] = hospital_accounts[[
    'Facility Name', 'Address', 'City', 'State'
]].apply(lambda x: '_'.join(x), axis=1)

In [ ]:
hospital_reimbursement['Reimbursement_Name_Lookup'] = hospital_reimbursement[[
    'Provider Name', 'Provider Street Address', 'Provider City',
    'Provider State'
]].apply(lambda x: '_'.join(x), axis=1)

In [ ]:
reimbursement_lookup = hospital_reimbursement[['Reimbursement_Name_Lookup']].reset_index()
account_lookup = hospital_accounts[['Acct_Name_Lookup']].reset_index()

In [ ]:
account_lookup.head()

   Account_Num                                   Acct_Name_Lookup
0        10605  SAGE MEMORIAL HOSPITAL_STATE ROUTE 264 SOUTH 1...
1        24250  WOODRIDGE BEHAVIORAL CENTER_600 NORTH 7TH STRE...
2        10341  DOUGLAS GARDENS HOSPITAL_5200 NE 2ND AVE_MIAMI_FL
3        81101  SUNCOAST BEHAVIORAL HEALTH CENTER_4480 51ST ST...
4        39835  TREASURE VALLEY HOSPITAL_8800 WEST EMERALD STR...

In [ ]:
reimbursement_lookup.head()

   Provider_Num                          Reimbursement_Name_Lookup
0        839987  SOUTHEAST ALABAMA MEDICAL CENTER_1108 ROSS CLA...
1        519118  MARSHALL MEDICAL CENTER SOUTH_2505 U S HIGHWAY...
2        733073  ELIZA COFFEE MEMORIAL HOSPITAL_205 MARENGO STR...
3        201752      MIZELL MEMORIAL HOSPITAL_702 N MAIN ST_OPP_AL
4        678488  ST VINCENT'S EAST_50 MEDICAL PARK EAST DRIVE_B...

In [ ]:
account_merge = potential_matches.merge(account_lookup, how='left')

In [ ]:
account_merge.head()

,Account_Num,Provider_Num,City,Hosp_Name,Hosp_Address,Score,Acct_Name_Lookup
0,51216,268781,0,1.0,1.0,2.0,ST FRANCIS MEDICAL CENTER_2400 ST FRANCIS DRIV...
1,55272,556917,1,1.0,1.0,3.0,SCOTTSDALE OSBORN MEDICAL CENTER_7400 EAST OSB...
2,87807,854637,1,1.0,1.0,3.0,ORO VALLEY HOSPITAL_1551 EAST TANGERINE ROAD_O...
3,51151,783146,1,0.0,1.0,2.0,"ST. LUKE'S BEHAVIORAL HOSPITAL, LP_1800 EAST V..."
4,11740,260374,1,1.0,1.0,3.0,SUMMIT HEALTHCARE REGIONAL MEDICAL CENTER_2200...

In [ ]:
reimbursement_lookup.head()

   Provider_Num                          Reimbursement_Name_Lookup
0        839987  SOUTHEAST ALABAMA MEDICAL CENTER_1108 ROSS CLA...
1        519118  MARSHALL MEDICAL CENTER SOUTH_2505 U S HIGHWAY...
2        733073  ELIZA COFFEE MEMORIAL HOSPITAL_205 MARENGO STR...
3        201752      MIZELL MEMORIAL HOSPITAL_702 N MAIN ST_OPP_AL
4        678488  ST VINCENT'S EAST_50 MEDICAL PARK EAST DRIVE_B...

In [ ]:
# Let's build a dataframe to  compare
final_merge = account_merge.merge(reimbursement_lookup, how='left')

In [ ]:
cols = [
    'Account_Num', 'Provider_Num', 'Score', 'Acct_Name_Lookup',
    'Reimbursement_Name_Lookup'
]

In [ ]:
final_merge[cols].sort_values(by=['Account_Num', 'Score'], ascending=False)

,Account_Num,Provider_Num,Score,Acct_Name_Lookup,Reimbursement_Name_Lookup
2660,94995,825914,3.0,CLAIBORNE MEDICAL CENTER_1850 OLD KNOXVILLE HI...,CLAIBORNE MEDICAL CENTER_1850 OLD KNOXVILLE HI...
1975,94953,819181,3.0,LAKE CHARLES MEMORIAL HOSPITAL_1701 OAK PARK B...,LAKE CHARLES MEMORIAL HOSPITAL_1701 OAK PARK B...
1042,94943,680596,3.0,VALLEY PRESBYTERIAN HOSPITAL_15107 VANOWEN ST_...,VALLEY PRESBYTERIAN HOSPITAL_15107 VANOWEN ST_...
2305,94923,403151,3.0,UNIVERSITY COLO HEALTH MEMORIAL HOSPITAL CENTR...,UNIVERSITY COLO HEALTH MEMORIAL HOSPITAL CENTR...
2512,94887,752284,2.0,NEW YORK-PRESBYTERIAN BROOKLYN METHODIST HOSPI...,NEW YORK METHODIST HOSPITAL_506 SIXTH STREET_B...
...,...,...,...,...,...
2080,10165,188247,3.0,UTAH VALLEY HOSPITAL_1034 NORTH 500 WEST_PROVO_UT,UTAH VALLEY HOSPITAL_1034 NORTH 500 WEST_PROVO_UT
1825,10090,212069,3.0,CANONSBURG GENERAL HOSPITAL_100 MEDICAL BOULEV...,CANONSBURG GENERAL HOSPITAL_100 MEDICAL BOULEV...
2424,10043,140535,3.0,BETH ISRAEL DEACONESS HOSPITAL - PLYMOUTH_275 ...,BETH ISRAEL DEACONESS HOSPITAL - PLYMOUTH_275 ...
1959,10020,210657,3.0,ST FRANCIS MEDICAL CENTER_309 JACKSON STREET_M...,ST FRANCIS MEDICAL CENTER_309 JACKSON STREET_M...
1958,10020,121670,2.0,ST FRANCIS MEDICAL CENTER_309 JACKSON STREET_M...,UNIVERSITY HEALTH CONWAY_4864 JACKSON STREET_M...

In [ ]:
# If you need to save it to Excel -
#final_merge.sort_values(by=['Account_Num', 'Score'],
#                        ascending=False).to_excel('merge_list.xlsx',
#                                                  index=False)

In [ ]:
final_merge[final_merge['Account_Num']==11035][cols]

,Account_Num,Provider_Num,Score,Acct_Name_Lookup,Reimbursement_Name_Lookup
2302,11035,550921,2.0,SAINT JOSEPH HOSPITAL_1375 E 19TH AVE_DENVER_CO,PRESBYTERIAN ST LUKES MEDICAL CENTER_1719 E 19...
2303,11035,706807,3.0,SAINT JOSEPH HOSPITAL_1375 E 19TH AVE_DENVER_CO,SAINT JOSEPH HOSPITAL_1375 EAST 19TH AVE_DENVE...

In [ ]:
final_merge[final_merge['Account_Num']==56375][cols]

,Account_Num,Provider_Num,Score,Acct_Name_Lookup,Reimbursement_Name_Lookup
155,56375,390402,2.0,BROWARD HEALTH IMPERIAL POINT_6401 N FEDERAL H...,HOLY CROSS HOSPITAL_4725 N FEDERAL HWY_FORT LA...
156,56375,451229,3.0,BROWARD HEALTH IMPERIAL POINT_6401 N FEDERAL H...,BROWARD HEALTH IMPERIAL POINT_6401 N FEDERAL H...

### Dedupe the data

In [ ]:
hospital_dupes = pd.read_csv(
    'https://github.com/chris1610/pbpython/raw/master/data/hospital_account_dupes.csv',
    index_col='Account_Num')

In [ ]:
hospital_dupes.head()

,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership
Account_Num,,,,,,,,,
71730,SAGE MEMORIAL HOSPITAL,STATE ROUTE 264 SOUTH 191,GANADO,AZ,86505,APACHE,(928) 755-4541,Critical Access Hospitals,Voluntary non-profit - Private
70116,WOODRIDGE BEHAVIORAL CENTER,600 NORTH 7TH STREET,WEST MEMPHIS,AR,72301,CRITTENDEN,(870) 394-4113,Psychiatric,Proprietary
87991,DOUGLAS GARDENS HOSPITAL,5200 NE 2ND AVE,MIAMI,FL,33137,MIAMI-DADE,(305) 751-8626,Acute Care Hospitals,Voluntary non-profit - Private
22662,SUNCOAST BEHAVIORAL HEALTH CENTER,4480 51ST ST W,BRADENTON,FL,34210,MANATEE,(941) 792-2222,Psychiatric,Proprietary
63165,TREASURE VALLEY HOSPITAL,8800 WEST EMERALD STREET,BOISE,ID,83704,ADA,(208) 373-5000,Acute Care Hospitals,Proprietary

In [ ]:
# Deduping follows the same process, you just use 1 single dataframe
dupe_indexer = recordlinkage.Index()
dupe_indexer.sortedneighbourhood(left_on='State')
dupe_candidate_links = dupe_indexer.index(hospital_dupes)

In [ ]:
# Comparison step
compare_dupes = recordlinkage.Compare()
compare_dupes.string('City', 'City', threshold=0.85, label='City')
compare_dupes.string('Phone Number',
                     'Phone Number',
                     threshold=0.85,
                     label='Phone_Num')
compare_dupes.string('Facility Name',
                     'Facility Name',
                     threshold=0.80,
                     label='Hosp_Name')
compare_dupes.string('Address',
                     'Address',
                     threshold=0.85,
                     label='Hosp_Address')
dupe_features = compare_dupes.compute(dupe_candidate_links, hospital_dupes)

In [ ]:
dupe_features

                             City  Phone_Num  Hosp_Name  Hosp_Address
Account_Num_1 Account_Num_2
26270         28485           0.0        0.0        0.0           0.0
              30430           0.0        0.0        0.0           0.0
              43602           0.0        0.0        0.0           0.0
59585         28485           0.0        0.0        0.0           0.0
              30430           0.0        0.0        0.0           0.0
...                           ...        ...        ...           ...
64029         38600           0.0        0.0        0.0           0.0
              35413           0.0        0.0        0.0           0.0
              81525           0.0        0.0        0.0           0.0
              82916           0.0        0.0        0.0           0.0
              18907           0.0        0.0        0.0           0.0

[981277 rows x 4 columns]

In [ ]:
dupe_features.sum(axis=1).value_counts().sort_index(ascending=False)

3.0         7
2.0       206
1.0      7859
0.0    973205
dtype: int64

In [ ]:
potential_dupes = dupe_features[dupe_features.sum(axis=1) > 2].reset_index()
potential_dupes['Score'] = potential_dupes.loc[:, 'City':'Hosp_Address'].sum(axis=1)

In [ ]:
potential_dupes.sort_values(by=['Score'], ascending=True)

,Account_Num_1,Account_Num_2,City,Phone_Num,Hosp_Name,Hosp_Address,Score
0,28494,37949,1.0,1.0,0.0,1.0,3.0
1,74835,77000,1.0,1.0,0.0,1.0,3.0
2,24549,28485,1.0,1.0,0.0,1.0,3.0
3,70366,52654,1.0,1.0,0.0,1.0,3.0
4,61685,24849,1.0,1.0,0.0,1.0,3.0
5,51567,41166,1.0,1.0,1.0,0.0,3.0
6,26495,41079,1.0,1.0,0.0,1.0,3.0

In [ ]:
# Take a look at one of the potential duplicates
hospital_dupes[hospital_dupes.index.isin([51567, 41166])]

,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership
Account_Num,,,,,,,,,
41166,ST VINCENT HOSPITAL,835 S VAN BUREN ST,GREEN BAY,WI,54301,BROWN,(920) 433-0111,Acute Care Hospitals,Voluntary non-profit - Church
51567,SAINT VINCENT HOSPITAL,835 SOUTH VAN BUREN ST,GREEN BAY,WI,54301,BROWN,(920) 433-0112,Acute Care Hospitals,Voluntary non-profit - Church